.contentContainer {
  width: 100%;
  height: calc(100vh - 60px);
  display: flex;

  background: var(--dark1);
}
#clientsContainer {
  width: 100%;
  height: calc(100vh - 60px);
  transition: all 0.2s;
}
.mainVideo {
  width: 100%;
  height: calc(100vh - 180px);
  box-sizing: border-box;
  background: var(--shade3);

  background: var(--dark1);
}
.mainVideo video,
.smallVideo video {
  height: 100%;
  width: 100%;
  object-fit: contain;
  overflow: hidden;
  background: black;
}
.videoList {
  display: flex;
  width: 100%;
  height: 120px;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  padding: 10px;
  box-sizing: border-box;

  background: var(--dark2);
}
.smallVideo,
.inviteButton {
  height: 100px;
  width: 170px;
  background: var(--shade3);
  color: var(--text);
  margin-right: 10px;
  margin-left: auto;
  box-sizing: border-box;
  object-fit: cover;
  cursor: pointer;
}
.smallVideo video {
  object-fit: cover;
}
.smallVideo {
  margin-left: auto;
}
.smallVideo:last-child {
  margin-right: auto;
}
.inviteButton {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;

  border: 1px solid var(--shade3);
  background: var(--shade1);
  border: none;
  background: var(--dark3);
}
.inviteButton:hover {
  background: var(--shade3);

  background: var(--dark4);
}

/* Side Menu */

.sideMenu {
  height: calc(100vh - 60px);
  width: 0;
  overflow: hidden;
  background: var(--shade1);
  border-left: 1px solid var(--shade3);
  box-sizing: border-box;

  background: var(--dark2);
  border-left: 1px solid var(--dark4);
  border-top: 1px solid var(--dark4);
  color: var(--text);
}
.sideMenuHeader {
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  box-sizing: border-box;
}
.sideMenuTitle {
  text-align: center;
}
#closeSideMenu {
  border: none;
  background: none;
  color: var(--second);
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}
.copyInvite {
  display: flex;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 20px;
  padding: 0 20px;
  margin: 12px auto;
  background: var(--main);
  color: white;
  border: none;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s;
}
.sideMenuInvite {
  text-align: center;
}
.sideMenuList {
  list-style: none;
  padding: 0 16px;
}
.sideMenuPerson {
  text-align: left;
}

/* Controls */

.controls {
  display: flex;
  height: 60px;
  width: 100vw;
}
.control {
  width: calc(100vw / 3);
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-right: none;
  cursor: pointer;
  transition: all 0.2s;
  font-weight: bold;
  outline: none;
  font-size: 12px;
  text-decoration: none;
  box-sizing: border-box;
  color: var(--text);
  border: 1px solid var(--shade3);
  background: var(--shade1);

  border: none;
  background: var(--dark2);
}
.control:active,
.control:focus,
.inviteButton:active,
.inviteButton:focus,
.smallVideo:active,
.smallVideo:focus,
.smallVideoActive {
  z-index: 1;
  outline: 3px solid var(--mainhalf);
}
.control:hover {
  background: var(--shade2);

  background: var(--dark3);
}
.flipControl {
  display: none;
}
#leaveButton {
  color: var(--second);
  font-size: 14px;
  text-align: center;
}
.leaveBreak {
  display: none;
}
.controlIcon {
  height: 24px;
  width: 24px;
  margin-bottom: 4px;
  filter: var(--icon);
}

/* Control Dropdown */

.controlDropdown {
  position: relative;
  height: 60px;
  width: 60px;
}
.controlMenu {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s;
  position: absolute;
  top: 35px;
  right: 0;
  width: 200px;
  padding: 12px 16px;
  box-sizing: border-box;
  background: var(--shade1);
  box-shadow: 0 2px 8px var(--shade3);
  border-radius: 8px;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  margin: 0;
  overflow: hidden;
  list-style: none;
}
.controlDropdown:hover .controlMenu {
  visibility: visible;
  opacity: 1;
}
.controlDropIcon {
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.controlOptionHeader,
.controlOption {
  width: 100%;
  text-align: left;
  padding: 4px 0;
  box-sizing: border-box;
}
.controlOptionHeader {
  font-weight: bold;
}
.controlOption {
  cursor: pointer;
  padding-left: 12px;
}
.controlOption:hover {
  background: var(--shade3);
}

/* Go Modal */

.goModalContainer,
.goModalBackground {
  z-index: 1000;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.goModalBackground {
  background: rgba(30,30,30,0.9);
  z-index: 1;
}
.goModal {
  z-index: 2;
  background: var(--dark1);
  color: var(--text);
  text-align: center;
  padding: 12px 24px 24px;
  width: 315px;
  box-sizing: border-box;
  border-radius: 8px;
}

@media (max-width: 420px) {
  .leaveBreak {
    display: block;
  }
  .inviteButton {
    width: 100px;
  }
  #leaveButton {
    width: 30vw;
  }
  .control {
    width: calc(70vw / 3);
  }
  .flipControl {
    display: flex;
  }
}
